<div class="container-fluid">

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 ml-5 s-5">
                    <h4> Database Management System
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <input type="text" placeholder=" Search commune" class="form-control" id="communeValue" [(ngModel)]="communeValue" name="communeValue">
                </div>
                <div class="col-md-3 mb-2">
                    <button class="btn btn-primary" (click)="search()">Apply</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Province</th>
                                    <th scope="col">District</th>
                                    <th scope="col">Commune</th>
                                    <th scope="col">Storm</th>
                                    <th scope="col">Drought</th>
                                    <th scope="col">Composite</th>
                                    <th scope="col">Flood</th>
                                    <th scope="col">Year</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of provinceList; index as i">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td>{{data.PROFINCE_KH_NAME}}</td>
                                    <td>{{data.DISTRICT_KH_NAME}}</td>
                                    <td>{{data.COMMUNE_KH_NAME}}</td>
                                    <td>{{data.STORM}}</td>
                                    <td>{{data.DROUGHT}}</td>
                                    <td>{{data.COMPOSITE}}</td>
                                    <td>{{data.FLOOD}}</td>
                                    <td>{{data.YEAR_NAME}}</td>
                                    <td><button class="btn btn-primary btn-sm"
                                            (click)="openXl(content, i)">Update</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Update Database Management System </h4>
                        <button type="button" class="close btn btn-primary btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <label for="STORM">STORM</label>

                                    <input type="text" class="form-control" id="STORM" [(ngModel)]="province!.STORM"
                                        name="STORM">
                                </div>
                                <div class="col-md-6">
                                    <label for="DROUGHT">DROUGHT</label>

                                    <input type="text" class="form-control" id="DROUGHT" [(ngModel)]="province!.DROUGHT"
                                        name="DROUGHT">
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="COMPOSITE">COMPOSITE</label>

                                    <input type="text" class="form-control" id="STORM" [(ngModel)]="province!.COMPOSITE"
                                        name="COMPOSITE">
                                </div>
                                <div class="col-md-6">
                                    <label for="FLOOD">FLOOD</label>

                                    <input type="text" class="form-control" id="FLOOD" [(ngModel)]="province!.FLOOD"
                                        name="FLOOD">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="PROFINCE_KH_NAME">Province</label>

                                    <input type="text" class="form-control" [readonly]="true"
                                    id="PROFINCE_KH_NAME" [(ngModel)]="province!.PROFINCE_KH_NAME"
                                        name="PROFINCE_KH_NAME">
                                </div>
                                <div class="col-md-6">
                                    <label for="DISTRICT_KH_NAME">District</label>

                                    <input type="text" class="form-control"  [readonly]="true" id="DISTRICT_KH_NAME" [(ngModel)]="province!.DISTRICT_KH_NAME"
                                        name="DISTRICT_KH_NAME">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="COMMUNE_KH_NAME">Commune</label>

                                    <input type="text" class="form-control" [readonly]="true"
                                    id="COMMUNE_KH_NAME" [(ngModel)]="province!.COMMUNE_KH_NAME"
                                        name="COMMUNE_KH_NAME">
                                </div>
                                <div class="col-md-6">
                                    <label for="YEAR_NAME">Year</label>

                                    <input type="text" class="form-control"  [readonly]="true" id="YEAR_NAME" [(ngModel)]="province!.YEAR_NAME"
                                        name="YEAR_NAME">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" (click)="update(province!)">Save Change</button>
                        <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> -->
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

</div>